.header {
    position: fixed;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(98, 95, 228);
    box-shadow: 0px 0px 5px rgb(126, 126, 126);
}

.logo {
    color: #fff;
    font-weight: 700;
}

.link {
    text-decoration: none;
    color: #fff;
}

