.App {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
  ". . ."
  "nb b ."
  "f f f";
  font-size: 18px;
}

.content {
  grid-area: b;
  background: rgba(193, 192, 248, 0.788);
  padding: 10px;
}